<div class="container-fluid mt-4">
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block text-black">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-grayish">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 text-black">
              <i class="fa fa-gem me-3 text-grayish"></i>Company name
            </h6>
            <p>
             E-commerce hub is a largest online e-commerce online shop for fashion wear ,mobile phone 
             laptop and etc.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-black">
              Products
            </h6>
            <p>
              <a href="http://127.0.0.1:8000/collections/Laptop" class="text-reset">Laptop</a>
            </p>
            <p>
              <a href="http://127.0.0.1:8000/collections/Mobile" class="text-reset">Mobile</a>
            </p>
            <p>
              <a href="http://127.0.0.1:8000/collections/Men's%20Fashion" class="text-reset">Men's Fashion</a>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/collections/Women's%20Fashion" class="text-reset">Woomen's Fashion</a>
              </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-black">
              Useful links
            </h6>
            <p>
              <a href="{% url 'home'  %}" class="text-reset">Home</a>
            </p>
            <p>
              <a href="{% url 'collections' %}" class="text-reset">Collections</a>
            </p>
            <p>
              <a href="{% url 'cart' %}" class="text-reset">Cart</a>
            </p>
            <p>
              <a href="{% url 'wishlist' %}" class="text-reset">Wishlist</a>
            </p>
            <p>
                <a href="{% url 'login' %}" class="text-reset">Login</a>
              </p>
              <p>
                <a href="{% url 'register' %}" class="text-reset">Register</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-black">Contact</h6>
            <p><i class="fa fa-home me-3 text-grayish"></i>India ,Gujrat </p>
            <p>
              <i class="fa fa-envelope me-3 text-grayish"></i>
              info@example.com
            </p>
            <p><i class="fa fa-phone me-3 text-grayish"></i> + 91 9119191991</p>
            <p><i class="fa fa-print me-3 text-grayish"></i> + 91 9998999898</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">E-commerce</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
  <!-- Footer -->